    body {
        margin: 0px;
        padding: 0px;
        /* acrescentei esses */
        line-height: 1.5;
        background-color: rgb(142, 109, 37);
        font-family: sans-serif;
        font-size: 18px;
    }

    form {
        width: 50%;
        margin: 50px auto;
        /* centraliza horizontalmente e adiciona margem superior */
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #f9f9f9;
    }