body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#banner{
    width: 100%;
}

.titulo-principal{
   text-transform: uppercase;
   text-align: center;
   color: rgb(244, 244, 248);
   background-color: rgb(35, 126, 187);
   padding: 30px;
   margin: 0px;
   margin-left: 0px;
   font-size: 22%;
}

.titulo2{
    color: rgb(192, 235, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.principal{
    background-color: #84b3d4;
    padding: 30px;
    margin:0px;

}

.beneficios{
    background-color: #2b8bcf;
    padding: 30px;
    margin:0px;

}
ul{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.imagembeneficios{
    width: 50%;
}