body{
    margin: 0px;
    padding: 0px;
}

#banner{
    width: 100%;
}

.titulo-principal{
   text-transform: uppercase;
   text-align: center;
   color: rgb(244, 244, 248);
   background-color: rgb(35, 126, 187);
   padding: 30px;
   margin: 0px;
   margin-left: 0px;
}

.titulo2{
    color: rgb(192, 235, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}